
@import "../_global/styles.scss";

/* ABOUT US */

.about_us {

    br {
        display: none;
        @include desktop { display: block; }
    }

    .about_section_one {
        margin-top: 100px;

        @mixin section_one_responsive($margin-top) {
            width: 88%;
            margin: auto;
            padding-right: 10px;
            margin-top: $margin-top;
        }

        @include mobile-portrait { @include section_one_responsive(50px); }
        @include mobile-landscape { @include section_one_responsive(50px); }
        @include tablet-portrait { @include section_one_responsive(50px); }
        @include tablet-landscape { @include section_one_responsive(50px); }

        #section_one_container {
            margin: auto;
            width: 1060px;
            display: flex;
            justify-content: space-between;

            @mixin section_one_container_responsive {
                display: block;
                width: 100%;
            }
  
            @include mobile-portrait { @include section_one_container_responsive; }
            @include mobile-landscape { @include section_one_container_responsive; }
            @include tablet-portrait { @include section_one_container_responsive; }
            @include tablet-landscape { @include section_one_container_responsive; }

            #section_one_left {
                width: 500px;
                background-image: url("../../img/o_nas/kdo_jsme.jpg");
                background-repeat: no-repeat;
                background-position: center -155px;

                @include mobile-portrait { display: none; }
                @include mobile-landscape { display: none; }
                @include tablet-portrait { display: none; }
                @include tablet-landscape { display: none; }
            }

            #section_one_right {
                width: 500px;

                @include mobile-portrait { width: 100%; }
                @include mobile-landscape { width: 100%; }
                @include tablet-portrait { width: 100%; }
                @include tablet-landscape { width: 100%; }

                h2 {
                    padding-bottom: 20px;
                    color: $dark_orange;
                    font-weight: normal;
                    font-size: 2.5rem;
                    font-family: Raleway, Helvetica, sans-serif;

                    @mixin section_one_h2($font_size) {
                        font-size: $font_size;
                        text-align: center;
                    }

                    @include mobile-portrait { @include section_one_h2(1.5rem); }
                    @include mobile-landscape { @include section_one_h2(1.8rem); }
                    @include tablet-portrait { @include section_one_h2(2rem); }
                    @include tablet-landscape { @include section_one_h2(2.2rem); }
                }

                p {
                    color: gray;
                    font-weight: normal;
                    font-family: Raleway, Helvetica, sans-serif;
                    line-height: 1.5rem;

                    @include mobile-portrait { font-size: 0.8rem; }
                    @include mobile-landscape { font-size: 0.9rem; }
                    @include tablet-portrait { font-size: 1rem; }
                    @include tablet-landscape { font-size: 1.2rem; line-height: 2rem; }
                }
            }
        }
    }

    .about_section_two {
        text-align: center;
        margin-bottom: 100px;

        @mixin section_two_responsive($margin-bottom) {
            width: 88%;
            margin: auto;
            margin-bottom: $margin-bottom;
            padding-right: 10px;
        }

        @include mobile-portrait { @include section_two_responsive(50px); }
        @include mobile-landscape { @include section_two_responsive(50px); }
        @include tablet-portrait { @include section_two_responsive(50px); }
        @include tablet-landscape { @include section_two_responsive(50px); }

        div {
            display: inline-block;
            width: 50%;
            margin-top: 150px;

            @mixin section_two_div_responsive($margin-top) {
                display: block;
                width: 100%;
                margin-top: $margin-top;
            }

            @include mobile-portrait { @include section_two_div_responsive(50px); }
            @include mobile-landscape { @include section_two_div_responsive(50px); }
            @include tablet-portrait { @include section_two_div_responsive(50px); }
            @include tablet-landscape { @include section_two_div_responsive(50px); }
        }

        h2 {
            margin-bottom: 30px;
            color: $dark_orange;
            font-family: Raleway, Helvetica, sans-serif;
            font-size: 3rem;
            font-weight: normal;

            @mixin section_two_h2_responsive($font_size) {
                font-size: $font_size;
                text-align: center;
                margin-bottom: 50px;
            }

            @include mobile-portrait { @include section_two_h2_responsive(1.5rem); }
            @include mobile-landscape { @include section_two_h2_responsive(1.8rem); }
            @include tablet-portrait { @include section_two_h2_responsive(2rem); }
            @include tablet-landscape { @include section_two_h2_responsive(2.2rem); }
        }

        p {
            text-align: left;
            color: gray;
            font-size: 1.1rem;
            font-family: Raleway, Helvetica, sans-serif;
            line-height: 1.7rem;

            @mixin section_two_p_responsive($font_size) {
                font-size: $font_size;
            }

            @include mobile-portrait { @include section_two_p_responsive(0.8rem); }
            @include mobile-landscape { @include section_two_p_responsive(0.9rem); }
            @include tablet-portrait { @include section_two_p_responsive(1rem); }
            @include tablet-landscape { @include section_two_p_responsive(1.2rem); line-height: 2rem; }
        }

        h4 {
            margin: 20px 0;
            text-align: left;
            color: gray;
            font-weight: normal;
            font-size: 1.4rem;

            @mixin section_two_h4_responsive($font_size) {
                font-size: $font_size;
            }

            @include mobile-portrait { @include section_two_h4_responsive(1rem); }
            @include mobile-landscape { @include section_two_h4_responsive(1.1rem); }
            @include tablet-portrait { @include section_two_h4_responsive(1.2rem); }
            @include tablet-landscape { @include section_two_h4_responsive(1.4rem); }
        }

        h5 {
            margin-top: 40px;
            text-align: left;
            font-size: 1.3rem;
            font-family: Raleway, Helvetica, sans-serif;
            color: gray;

            @mixin section_two_h5_responsive($font_size) {
                font-size: $font_size;
            }

            @include mobile-portrait { @include section_two_h5_responsive(0.8rem); }
            @include mobile-landscape { @include section_two_h5_responsive(0.9rem); }
            @include tablet-portrait { @include section_two_h5_responsive(1rem); }
            @include tablet-landscape { @include section_two_h5_responsive(1.1rem); }
        }
    }
}